.header {
  padding: 30px;
  text-align: center;
  background: #003d86;
  color: white;
  font-size: 30px;
  font-family: arial;
}

p {
  font-family: arial
}

#pagebody {
  position: relative;
  text-align: left;
  font-family: arial;
  width: 70%;
  max-width: 600px;
  margin: auto;
}

.help-symbol {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
}

textarea {
  width: 100%;
  max-width: 100%;
  font-family: monospace;
}

.text_entry {
  background-color: white;
  border-width: 1px;
  border-color: grey;
  border-style: solid;
}

h3 {
  font-weight: bold;
  font-size: 17px;
}

* {
  align-items: center;
}
