<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <title>Term Graph Visualizer: About</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/curry-32x32.png">
  </head>
  <body>
    <div class="header">
      About the Curry Term Graph Visualizer
    </div>

    <div id="pagebody">
      <p>
        <form>
          <input type="button" value="&lt;&lt; Back to main page" onclick="history.back()">
        </form>
      </p>
      <p>
        This tool can be used to visualize smaller computations of
        <a href="http://curry-lang.org/" target="_blank">Curry programs</a>
        as a slide show.
        It was created by Sascha Ecks in the context of a bachelor's thesis
        supervised by
        <a href="https://www.informatik.uni-kiel.de/~mh/" target="_blank">Prof. Michael Hanus</a>
        at the <a href="https://www.uni-kiel.de" target="_blank">CAU Kiel</a>.

        <h3>Usage</h3>
        <p>
          Just enter a Curry program (see below) and a main expression
          that should be evaluated into the corresponding fields.
          With the default "<em>term graph</em>" option, the computation's
          <a href="https://en.wikipedia.org/wiki/Term_graph" target="_blank">term graphs</a>
         are displayed as actual graphs so that
         the sharing of common subexpressions (see example
         program "<code>AndShare</code>")
         as well as non-deterministic computations are visualized.
         Non-determinism is represented by explicit choice nodes
         (labelled with "?") which are processed by
         <a href="http://dx.doi.org/10.1017/S1471068411000263" target="_blank">pull-tab steps</a>
         when they occur in demanded argument positions (see example
         program "<code>PullTabbing</code>").
        </p>
        <p>
         The option "<em>term graph as tree</em>" displays the term graphs
         as trees, where shared nodes are displayed multiple times
         (using colors to identify shared nodes).
         To avoid infinitely deep tree representations of term graphs
         in case of cyclic graphs (see example programs
         "<code>CyclicOneTwo</code>" or "<code>CyclicTrues</code>"),
         a maximum depth for the generated tree representations
         has to be specified if this option is selected.
        </p>
        <p>
         The option "<em>with node IDs</em>" adds a unique number to the label
         of each node.
         This is useful to identify the nodes between different
         computation steps, even if their label was changed
         by a graph rewrite step.
        </p>
        <p>
          Furthermore, the maximum number of execution steps is always
          limited to avoid infinite computations.
          The limit can be set manually but cannot exceed {{max_steps}} steps.
        </p>

        <h4>Requirements on Curry programs</h4>
        <p>
          Since the tool is intended to visualize small computations,
          there are some restrictions on the Curry programs to be executed.
          The entered <em>Curry program must define all operations</em>, i.e.,
          it should not use any operations from imported modules.
          From the standard prelude, only data types but no operations
          can be used (a few exceptions are described below).
          Have a look at the various example programs provided by the tool.
        </p>
        <p>
          The provided main expression is <em>evaluated to head normal form</em>
          only, i.e., it stops if no program rule can be applied to the root
          of the expression. In order to evaluate an expression to
          a normal form, one can wrap the main expression with
          the prelude operation <code>normalForm</code>
          (see, for instance, example program "<code>ZipOnes</code>").
          To support the evaluation to normal form, the tool
          also supports the prelude operations <code>normalForm</code>,
          <code>$!</code>, <code>$!!</code>, <code>seq</code>,
          and <code>apply</code>.
        </p>
        <p>
          Before execution, the given Curry program is compiled
          into the intermediate
          <a href="https://www.informatik.uni-kiel.de/~mh/papers/Declare19_ICurry.html" target="_blank">ICurry representation</a> of programs.
          For instance, locally defined operations are transformed
          into top-level operations with unique names and
          operations containing nested patterns in the left-hand sides
          of their rules are translated into operations with simpler pattterns
          by introducing auxiliary operations.
          Hence, operations with new names might occur during
          a computation.
        </p>

        <h4>Symbols used in the term graph</h4>
        <p>
          The following symbols are used in the visualized graphs:
        </p>
        <ul>
          <li>
           <em>Rectangle nodes</em> represent data constructors or literals,
           i.e., nodes which cannot be further evaluated.
          </li>
          <li>
           <em>Choice nodes</em> labelled with "?" represent
           non-deterministic choices between two expressions.
           Thus, non-deterministic computations are explicitly
           represented (in contrast to backtracking implementations).
           The number after the "?" is the unique choice identifier
           (choice identifiers are necessary to ensure the
           <a href="http://dx.doi.org/10.1017/S1471068411000263" target="_blank">correctness of pull-tabbing</a>).
           If some alternative of a choice is selected during a computation,
           the selected branch of the choice (and all identical choices)
           is highlighted by a bold line (see example programs
           "<code>AndSomeBool</code>" or "<code>AndSomeNotBool</code>")
          </li>
          <li>
           <em>Yellow nodes</em> identify the node to be evaluated in the
           next step.
          </li>
          <li>
           <em>Green nodes</em> show an already computed result.
          </li>
        </ul>

        <h4>The user interface of the term graph slide show</h4>
        <p>
          For explanations on the UI elements of the graph slide show,
          please refer to the following screenshot:
        </p>
      </p>
    </div>
    <img src="/static/slideshow-help.png" alt="Screenshot of the slideshow"
        style="width:80%;display:block;margin-left: auto;margin-right: auto;">
  </body>
</html>
