<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <title>Term Graph Visualizer: Source</title>
    <link rel="icon" type="image/png" sizes="32x32" href="static/curry-32x32.png">
  </head>
  <body onload="resizePage();">
    <script type="text/javascript">
      function resizePage(){
        let width = Math.ceil(document.getElementById("prog").offsetWidth) + 45;
        window.resizeTo(Math.max(350, Math.min(500,width)),600);
      }
    </script>
    <pre>
      <code id="prog">
{{prog}}
      </code>
    </pre>
  </body>
</html>
